# Compiled
*.pyc

# Subdirectories
/recorded_scripts
/archive
/PC.py
/Vishalbox.py
/sample_holder.py
/sample_holder2.py
/sample_holder_noPCB.py
/sample_holder_square.py
/sample_holder_v1.py
/test.py
/drawings
